#container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#map {
  margin-left: 40px;
}

#canvascontainer {
  width: 1000px;
  height: 800px;
  border: 1px solid;
}

#results {
  background-color: #834343;
  color: #eeeeee;
  width: 1002px;
}

#sidebar {
  margin-left: 40px;
}